//
//
//

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

//
//
//

.container {
  max-width: $screen-lg-min;
  margin: auto;
  padding: 5px;
}

.wrapper {
  // Content
  position: relative;
  width: 100%;

  .spinner {
    position: absolute;
    top: 20%;
    left: calc(50% - 100px);
  }

  .next,
  .prev {
    position: absolute;
    height: 100%;
    top: 0px;
  }
  .next {
    width: 70%;
    right: 0px;
  }
  .prev {
    width: 30%;
    left: 0px;
  }

  .page {
    width: 100%;
  }
}

.controls {
  display: flex;
}

.home {
  display: block;
  text-align: center;
}
